NEXT_PUBLIC_SITE_URL=https://paramsdental.com
NEXT_PUBLIC_GOOGLE_MAP_EMBED=https://www.google.com/maps?q=Param%27s%20Dental%20Clinic%20Bangalore&z=15&output=embed

GOOGLE_MAPS_API_KEY=
GOOGLE_PLACE_ID=

EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=

MONGODB_URI=
ADMIN_EMAIL=paramsdental@gmail.com
SMTP_FROM=paramsdental@gmail.com

NEXT_PUBLIC_CLINIC_PHONE=081233 38324
NEXT_PUBLIC_CLINIC_EMAIL=paramsdental@gmail.com
NEXT_PUBLIC_CLINIC_WHATSAPP=919876543210
NEXT_PUBLIC_CLINIC_ADDRESS=1175, 1st A Main Rd, Hoshalli Extension, Vijayanagar, Bengaluru - 560040
